{{ address_group }}

    {{ if address_show }}
        <div class="mb-3 row">
            <div class="col">
                <input class="form-control" type="text" id="address" name="Address" placeholder="{{ ( address != "" ) ? {address} : "Address" }}" {{ address_required ? "required" : "" }}>
                <span class="text-danger d-none input-error">This field is required</span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <input class="form-control" type="text" id="suburb" name="Suburb" placeholder="{{ ( suburb != "" ) ? {suburb} : "Suburb" }}" {{ suburb_required ? "required" : "" }}>
                <span class="text-danger d-none input-error">This field is required</span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <input class="form-control" type="text" id="state" name="State" placeholder="{{ ( state != "" ) ? {state} : "State" }}" {{ state_required ? "required" : "" }}>
                <span class="text-danger d-none input-error">This field is required</span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <input class="form-control" type="text" id="postcode" name="Postcode" placeholder="{{ ( postcode != "" ) ? {postcode} : "Postcode" }}" {{ postcode_required ? "required" : "" }}>
                <span class="text-danger d-none input-error">This field is required</span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <input class="form-control" type="text" id="country" name="Country" placeholder="{{ ( country != "" ) ? {country} : "Country" }}" {{ country_required ? "required" : "" }}>
                <span class="text-danger d-none input-error">This field is required</span>
            </div>
        </div>
    {{ /if }}
    
{{ /address_group }}
