<div class="contact-details-slide pt-0" style="padding: 30px;">
    <div class="row mb-3">
        <div class="col">
            <h6 id="donating_amount" class="fw-bold form-heading mb-0 mt-3">Donating</h6>
            <input class="form-control" type="hidden" id="PaymentBy" name="PaymentBy" value="Individual">
            <div id="organizationNameRow" style="max-height: 0;">
            <input class="form-control form-control mt-3" type="text" id="PaymentByName" name="PaymentByName" placeholder="Organisation Name">
            <span class="text-danger input-error d-none">This field is required</span>
            </div>
        </div>
    </div>
    {{ required_fields_grid }}

        {{ partial:form_fields/salutation }}

        {{ partial:form_fields/first_name }}

        {{ partial:form_fields/last_name }}

        {{ partial:form_fields/email_address }}

        {{ partial:form_fields/address }}

        {{ partial:form_fields/mobile_phone }}

    {{ /required_fields_grid }}

    <div class="row mb-3">
        <div class="col">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check-anonymous">
            <label class="form-check-label small" for="check-anonymous">Keep my donation anonymous</label>
            </div>
            <p id="anonymous-info" class="field-help">
            <span class="icon icon--small info-icon">
                <i class="bi bi-info-circle-fill"></i>
            </span> Your donation will be credited as 'Anonymous' on the public fundraising webpage.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check-anonymous-1">
            <label class="form-check-label small" for="check-anonymous-1">Opt out of Communications from Asylum Seekers Centre</label>
            </div>
            <p id="anonymous-info" class="field-help">
            <span class="icon icon--small info-icon">
                <i class="bi bi-info-circle-fill"></i>
            </span> Tick to opt out of any communications from Asylum Seekers Centre including updates, newsletter and more.
            </p>
        </div>
    </div>
</div>