<div class="transaction-details pt-2" style="padding: 30px;">
    <div>
        <h2 class="h2 fw-bold form-heading mb-2 mt-3 text-center color-primary">{{ form_headline }}</h2>
    </div>
    <div class="row mb-3" id="donation-frequency-2" style="max-height: 0;overflow: hidden;">
        <div class="col d-flex align-items-center justify-content-center mt-2">
            <h5 class="w-75 me-2 mb-0 text-center">How often you desire to donate?</h5>
            <select id="select-donation-frequency" class="w-50 text-center">
            <option value="Monthly" selected>Monthly</option>
            <option value="Quarterly">Quarterly</option>
            <option value="Annually">Annually</option>
            <option value="Two Yearly">Two Yearly</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="hidden" id="donation-amount" name="donationAmount" value="">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div id="suggested-amounts">                                

                {{ donation_amounts }}

                    {{ if amount:is == default_amount }}
                        {{? $default_class = 'selected' ?}}
                    {{ /if }}

                    <button class="btn btn-primary diagonal-corners {{ $default_class }}" type="button" value="{{ amount }}">
                        <div class="suggested-img">
                            <img src="{{ thumbnail:url }}" />
                        </div>
                        <div class="donation-details">
                            <span class="donation-amount">${{ amount }}</span>
                            <span class="donation-desc">{{ description }}</span>
                        </div>
                    </button>

                {{ /donation_amounts }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
            <i class="bi bi-currency-dollar otherAmount"></i>
            <input class="form-control text-left fw-bold" type="number" id="other-amount" name="Amount" placeholder="Other">
            </div>
        </div>
    </div>
</div>