<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="position-relative py-4 py-xl-5">
                    <div class="position-relative container">
                        <div class="d-flex justify-content-center row">
                            <div class="col">

                            {{ donation_form }}

                                <input id="SalesForceFormUrl" type="hidden" value="{{ salesforce_url }}">

                                <div id="payment2us-form-container" class="diagonal-corners-2">

                                    <form id="payments2us" method="GET" style="position: relative;">
                                        <div id="form-steps"></div>
                                        <div class="text-center" style="position: absolute;top: 12%;left: 27%;">
                                        <img id="preloading" src="images/preloading.gif">
                                        </div>

                                        <div id="slick-slider">
                                            {{ partial:form_steps/_step1 }}
                                            {{ partial:form_steps/_step2 }}
                                            {{ partial:form_steps/_step3 }}
                                        </div>
                                        {{# #slick-sider #}}

                                        <div class="text-center row">
                                            <div class="mb-5 px-5 col">
                                                <div id="arrow-container" class="d-flex justify-content-center"></div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>

                            {{ /donation_form }}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col">
                <div>
                    <p class="fw-bold fs-6" style="margin-top: 3rem;">Donate to an individual or team on their personal fundraising page. Search below to find a page.</p>
                    <h1 class="text-center display-2" style="margin-top: 7rem;">Widget Area</h1>
                </div>
            </div>
        </div>
    </div>
</section>
