<footer class="pb-5" style="background-color: #2E3281;">
    <div class="container">
        <div class="row footer-top pt-4 pb-4 mb-4 justify-content-center g-3 mt-0">
            <div class="col-auto"><a class="btn btn-primary diagonal-corners text-uppercase" href="https://fundraising.asylumseekerscentre.org.au/signup">Start my own fundraiser</a></div>
            <div class="col-auto"><a class="btn--cta btn text-uppercase btn-danger text-white diagonal-corners" href="https://fundraising.asylumseekerscentre.org.au/donate">Donate</a></div>
            <div class="col-auto"><a class="btn btn--secondary diagonal-corners text-uppercase btn-warning" href="https://fundraising.asylumseekerscentre.org.au/signup">JOIN AN EXISTING TEAM</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row footer-bottom">
            <div class="col-md-4 d-flex flex-column align-items-center align-items-md-start mb-4 mb-md-0"><img class="mb-4" src="images/asc-logo-white-on-transparent-png-a12bbf.avif" style="max-width: 130px;">
                <p class="text-white small text-left">©️ Asylum Seekers Centre<br>ABN: 47 164 509 475<br>Registered Charity: cfn17163</p>
            </div>
            <div class="col-md-4 text-center text-md-start mb-4 mb-0">
                <div class="footer-social mb-3"><a class="icon-facebook" href="#" target="_blank"><i class="fa fa-facebook text-white fa-lg"></i></a><a class="icon-twitter" href="#" target="_blank"><i class="fa fa-twitter text-white fa-lg"></i></a><a class="icon-linkedin" href="#" target="_blank"><i class="fa fa-linkedin text-white fa-lg"></i></a><a class="icon-instagram" href="#" target="_blank"><i class="fa fa-instagram text-white fa-lg"></i></a></div>
                <div class="mb-3"><a href="https://goo.gl/maps/yT3JsXGSD28PLjcU7" target="_blank" rel="noopener noreferrer">43 Bedford Street<br>Newtown NSW 2042</a></div>
                <div class="mb-3"><a href="tel:+61290781900" target="_blank" rel="noopener noreferrer">(02) 9078 1900</a></div>
                <div class="mb-3"><a class="fw-bold" href="#" target="_blank" rel="noopener noreferrer">Contact Us</a></div>
                <div>
                    <p class="text-white"><a href="https://asylum-seekers-centre.raisely.com/security-policy">Security Policy</a> | <a href="https://fundraising.asylumseekerscentre.org.au/refund-policy">Refund Policy</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-start">
                <h5 class="text-uppercase color-primary mb-3 fw-semibold" style="font-size: 1.125rem;">Sign up to newsletter</h5>
                <p class="text-white">Be part of a community that cares about and welcomes people seeking asylum in Australia.</p><a class="btn btn-primary diagonal-corners text-uppercase newsletter-btn" href="https://asylumseekerscentre.org.au/sign-up/">GET INFO IN YOUR INBOX</a>
            </div>
        </div>
    </div>
</footer>